.form{
    width: 100%;
    margin: 2em 0;
}

.form button{
    background-color: rgb(76, 43, 226);
    color: aliceblue;
    padding: 5px 165px 5px 165px;
    margin-left: 00px;
    margin-top: 5px;
    border-radius: 4px;
}

.form input, select{
    padding: 5px 110px 5px 110px;
    border-radius: 10px;
}